.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 41);
  padding-top: 5px;
}

.headerdiv {
  display: flex;
  justify-content: space-evenly;
}

.link {
  color: blueviolet;
  text-decoration: none;
  margin: 8px;
}

.logo {
  color: white;
}
